html, body
{
    height: 100%;
    min-height: 100%;
}

.main-navbar{
    position: relative;
    z-index: 980;
    padding: 12px 35px 12px 20px;
    border-bottom: 1px solid #DBDBDB;
    background: #FFFFFF !important;
}

.nav-item, .nav-item a{
    font-family: Shadows Into Light !important;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: black !important;
}

.nav-item-white, .nav-item a{
    color:white !important;
}

.hide{
    display: none;
}

.nav-item:hover, .nav-item a:hover{
    color: rgb(102, 101, 101) !important;
}

.nav-item{
    margin: 0px 2rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.container{
    min-height: calc(100% - 240px);
    padding-top: 120px;
    z-index: 300;
}

/* Aqui empiezan los estilos  del footer */

.main-footer{
    background: #1C1C1C;
    min-height: 120px;
    display: flex;
    justify-content: center;
}

.texto-center{
    width: 100%;
    text-align: center;
    font-family: Be Vietnam;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
}

.texto-dragonware{
    font-family: Be Vietnam;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
}

/* Aqui empieza la responsividad */

@media only screen and (max-width: 1103px) {
    .nav-item{
        margin: 0px 1.2rem;
    }
    .nav-item, .nav-item a{
        font-size: 14px !important;
    }
}