.font_titles{
    font-family: Shadows Into Light;
    font-style: normal;
    font-weight: normal;
}

.font_vietnam{
    font-family: Be Vietnam;
}

.searcher{
    width: 430px;
    height: 36px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #B8B8B8;
    padding-left:17px;
    outline: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.searcher_button{
    height: 36px;
}

.more-info{
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    padding: 20px;
}

.more-info h1{
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;

    color: #000000;
}

.more-info p{
    font-family: Be Vietnam;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin: 12px 0px 0px 0px;
}

.more-info p strong{
    font-family: Be Vietnam;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

/* Video slider */
.video-slider {
    width: 100%;
    height: 28rem;
    background: #444;
    position: relative;
    overflow: hidden;
}
.slide {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.slide:first-child{
    left: 0;
}
.video{
    height: 100%;
    width: 100%;
    border:0;
}
.slide-arrow{
    position: absolute;
    top: 0;
    left: 0;
    height: 45%;
    width: 15%;
    cursor: pointer;
    color: azure;
    text-shadow: 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
    opacity: .4;
}
.slide-arrow:hover{
    opacity: 1;
}
.slide-arrow:after{
    content: "\003c";
    text-align: center;
    display: block;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 3em;
}
.slide-arrow.right:after{
    content: "\003e";
}
.slide-arrow.right{
    left: auto;
    right: 0;
}
.p_container{
    background: #1C1C1C;
}

.div_images_p{
    height: 375px;
    width: 100%;
}
.next_btn{
    width:100%;
    text-align: right;
    color: #FFFFFF;
    font-size: 12px;
    font-style: normal;
    cursor: pointer;
    margin-top:195px;
}
.gal_low{
    margin-top:14px;
    margin-left:auto;
    margin-right:0px;
    width: 171px;
    height: 111px;
    object-fit: cover;
}

.gal_high{
    width: 461.7px;
    height: 318.6px;
    object-fit: cover;
    margin-top:32px;
}

.gal_desc{
    max-height: 40px;
    font-style: normal;
    text-align: right;
    font-size: 14px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.div-reconocimientos{
    min-height: 214px;

    background: #CCCCCC;
}

.div-reconocimientos h3{
    font-family: Be Vietnam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px 0px;
    color: #000000;
}

.div-reconocimientos h4{
    font-family: Be Vietnam;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin: 2px 0px;
    color: #000000;
}

.div-reconocimientos p{
    font-family: Be Vietnam;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.autor{
    font-family: Be Vietnam;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0px !important;
}

.autor strong{
    font-family: Oxygen;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: underline;
}

.critic-important{
    background: #DEDEDE;
}

.critic-inside{
    background: #1C1C1C;
    width: 100%;
    height: 100%;
    position: relative;
    top: 10px;
    left:8px;
    color: white;
}

.critic-text{
    font-family: Be Vietnam;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF;
    hyphens: auto;
    word-break: normal;
}

.critic-autor{
    font-family: Be Vietnam;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.gal_white{
    width: 95%;
    min-height: 550px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    position: relative;
    top: 15px;
    left:15px;
}

.p_title{
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
    height: 51px;
    padding: 13px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.p_desc{
    font-size: 14px;
    text-align: justify;
    color: #000000;
    padding: 13px;
    min-height: 80px;
}

.p_data{
    color: #000000;
    font-size: 12px;
    padding-left: 13px;
    margin-top:10px;
}

.p_downloads{
    background: #000000;
    width: 156px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    transition: ease-in 0.1s;
    outline:none;
}
.p_downloads:hover{
    width: 160px;
    margin-right: 18px;
    transition: ease-in 0.1s;
}

.date_position{
    background:transparent;
    width:210px;
    margin-top:-340px;
    margin-bottom:125px;
    transform:rotate(90deg);
    margin-left:auto;
    margin-right:-70px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    background-color: #1C1C1C;
}

.date_position2{
    background:transparent;
    margin-left:auto;
    margin-right:0px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    display:none;
}

.date_position3{
    background:transparent;
    margin-left:15px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    display:none;
}

.p_downloable{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date_space{
    padding-right: 30px;
}

@media(max-width:666px){
    .date_position{
        margin-right:-90px;
    }
}

@media(max-width:500px){
    .gal_disapear{
        display:none;
    }
}

@media(max-width:1200px){
    .date_space{
        padding-right: 40px;
    }
}

@media(max-width:959px){
    .date_space{
        padding-right: 30px;
    }
    .date_position{
        display:none;
    }
    .date_position2{
        display:block;
    }
    .date_position3{
        display:block
    }
}