.div_portada{
    background: url("/img/fotoZinnia/Grupal2.png") no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
    background-position: center center;
    background-color: black;
    width: 100%;
    height: 560px;
}
.txt-zinnia, .txt-slogan{
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 51px;
    letter-spacing: 1em;
    color: #FFFFFF;
}
.txt-slogan{
    font-weight: 200;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0em;
    height: 220px;
}
.text-title{
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    font-size: 28px;
}
.text-descripcion{
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}


/* RESPONSIVE */
@media(max-width:1000px){
    .div_portada{
        background: url("/img/fotoZinnia/Grupal.png") no-repeat ;
        background-size:         cover;
        background-position: center center;
        height: 560px;
    }
    .txt-slogan{
        height: auto !important;
    }
}
@media(max-width:960px){
    .text-title{
        margin-left: 0px !important;
    }
    .text-descripcion{
        width: 100% !important;
        margin: 0px 0px 0px 0px !important;
    }
    .div_historia{
        padding:15px !important;
    }
    .div-logo-company{
        width: 95% !important;
    }
    .div-logo-company img{
        width: 30% !important;
    }
    .img2{
        margin-top:15px !important;
        margin-left:0px !important;
        position: inherit !important;
        float: right;
        width: 30% !important;
    }
}
@media(max-width:600px){
    .txt-zinnia{
        font-size: 28px;
    }
    .txt-slogan{
        font-size: 15px;
        text-align: center;
    }
}