.video_fondo{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
@media(min-width:1366px){
    .img-logo-blanco{
        margin-top: -600px !important;
    }
}
@media(max-width:800px){
    .img-logo-blanco img{
        width:40% !important;
    }
}
