.video_fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
@media(max-width:1050px){
    /* .video_fondo{
        height:500px;   
    } */
}
